body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: left;
    width: 340px;
    margin: 0 auto;
}

label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px; /* Reducir el margen inferior del label */
}

input,
textarea {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: #283629;
    width: 100%;
    outline: none;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: #b5cab6;
}

.form-txt {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.form-txt a {
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 10px;
    background-color: #51d94c;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}

.btn:hover {
    background-color: #50e04b;
}
h2{
    color: #283629;
    font-size: 35px;
}
